
RewriteEngine On

# Redirect non-www to www with HTTPS
RewriteCond %{HTTP_HOST} !^www\.
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ http://www.opzonik.com/$1 [L,R=301]

# Redirect non-HTTPS to HTTPS for www version
RewriteCond %{HTTP_HOST} ^www\.
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ http://opzonik.com/$1 [L,R=301]
