{{>header}}

<div class="than-you">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 text-center">
                <h1>THANK YOU</h1>
                <h2>We Will Get Back To You Soon!</h2>
                <hr>
                <ul class="social-list justify-content-center" style="list-style: none;">
                    <li>
                        <div class="social-icons">
                            <a href="https://www.facebook.com/Opzonik-100289456191264">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="social-icons">
                            <a href="https://www.instagram.com/opzonik/">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="social-icons">
                            <a href="https://www.youtube.com/channel/UCYQxbhE6WptixEkHYeebwYA">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <img src="/public/image/tahnk-you.jpg" class="img-fluid">
            </div>
        </div>
    </div>
</div>

{{>footer}}